.header-nav {
    width: 60%;
    height: 100px;
    margin: 20px auto;

    display: flex;
    justify-content: space-around;
}

.header-nav-item {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #EDF2EF;

    cursor: pointer;
    width: auto;
}

.header-nav-item:after {
    display: block;
    content: "";
    margin-top: 5px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    z-index: 10;
    border-radius: 10px;
}

.active {
    color: rgba(237, 242, 239, 0.5);
}

.hide-item {
    display: none;
}

.header-nav-item:hover:after, .header-nav-item:focus:after {
    width: 100%;
}

.header-items {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #EDF2EF;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.index-page-header-elements {
    font-family: "Cantarell Light", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 2em;
    box-sizing: border-box;
    padding: 10px 5px;
    background-color: #202020;
    color: #EDF2EF;
    border: none;
    border-radius: 10px;
    margin: 15px 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}