* {
    margin: 0;
    padding: 0;
    outline: none;
}

aside {
    position: relative;

    float: left;
    width: 75px;
    height: 100vh;
    background-color: #141414;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, .5);
}

.imgs {
    padding-top: 50px;
    width: 100%;
    height: 50%;
}

.aside-img {
    width: 90%;
    margin: 5px 5%;
    cursor: pointer;
}

main {
    float: left;
    width: calc(100% - 75px);
    height: 100vh;
    background-color: #171717;
}
