aside {
    height: auto;
}

main {
    padding-left: 75px;
}

a {
    text-decoration: none;
    color: #EDF2EF;
}

.dashes {
    width: 100%;
}

.dash {
    float: left;
    margin: 20px calc((100% - 75px - 1000px) / 6);
    width: 600px;
    min-height: 300px;
    height: auto;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(28, 28, 28, .5);
}

.left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}


.data-header {
    font-family: Cantarell, sans-serif;
    font-size: 24px;
    color: #EDF2EF;
    padding: 10px 20px;
    text-align: center;
}

.data-col-header {
    font-family: Cantarell, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #EDF2EF;
    padding: 10px 20px;
}

.data-value {
    font-family: "Cantarell Light", sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    color: #EDF2EF;
}

.no-data {
    position: absolute;
    font-family: "Cantarell", sans-serif;
    font-weight: 600;
    font-size: 20px;
    top: 45%;
    left: 110px;
    text-align: center;
    color: #790000;
}

.clear_btn {
    position: absolute;
    right: 0;
    bottom: -115px;

    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: #EDF2EF;
    background-color: #202020;

    padding: 10px 20px;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    transition: .5s;
}

.clear_btn:hover {
    background-color: #282828;
}

.get_stat_btn {
    position: absolute;
    left: 0;
    bottom: -115px;

    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: #EDF2EF;
    background-color: #202020;

    padding: 10px 20px;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
    transition: .5s;
}

.get_stat_btn:hover {
    background-color: #282828;
}

.last-login-div {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 300px;
    height: 150px;
    background-color: #1c1c1c;
    border-radius: 10px 0 0 0;
    box-shadow: -5px -5px 10px rgba(10, 10, 10, .5);

    box-sizing: border-box;
    padding: 5px 10px;
}

.last-login-header {
    font-family: Cantarell, sans-serif;
    color: #EDF2EF;
    padding-bottom: 10px;
}

.last-login-data, .last-login-time-stamp {
    font-family: Roboto, sans-serif;
    color: #EDF2EF;
    padding: 5px 15px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}