a {
    text-decoration: none;
    color: #EDF2EF;
}

.dashes {
    width: 100%;
}

.dash {
    float: left;
    margin: 20px calc((100% - 75px - 1000px) / 6);
    width: 600px;
    height: 300px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(28, 28, 28, .5);
}

.left {
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}


.data-header {
    font-family: Cantarell, sans-serif;
    font-size: 24px;
    color: #EDF2EF;
    padding: 10px 20px;
    text-align: center;
}

.data-col-header {
    font-family: Cantarell, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #EDF2EF;
    padding: 10px 20px;
}

.data-value {
    font-family: "Cantarell Light", sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    color: #EDF2EF;
}

.clear_btn {
    position: absolute;
    right: 0;
    bottom: 0;

    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: #EDF2EF;
    background-color: #202020;

    padding: 10px 20px;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    transition: .5s;
}

.clear_btn:hover {
    background-color: #282828;
}