.header-nav {
    width: 60%;
    height: 100px;
    margin: 20px auto;

    display: flex;
    justify-content: space-around;
}

.header-nav-item {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #EDF2EF;

    cursor: pointer;
    width: auto;
}

.header-nav-item:after {
    display: block;
    content: "";
    margin-top: 5px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    z-index: 10;
    border-radius: 10px;
}

.active {
    color: rgba(237, 242, 239, 0.5);
}

.hide-item {
    display: none;
}

.header-nav-item:hover:after, .header-nav-item:focus:after {
    width: 100%;
}

.post {
    position: relative;
    width: 90%;
    height: 500px;
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 5px auto;
    box-shadow: 5px 5px 5px rgba(23, 23, 23, 0.1);
    box-sizing: border-box;
}

.post-text {
    float: left;
    width: calc(100% - 500px);
    height: 500px;
}

.post-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(45deg, #202020, #000000);
    background-size: 400% 400%;
    animation: loading-anim 20s ease infinite;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    object-fit: cover;
}

@keyframes loading-anim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.post-header {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #EDF2EF;
    padding: 10px 20px;
}

.post-description {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #EDF2EF;
    padding: 20px 20px;
}

.post-footer {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
}

.post-tags {
    float: left;
    position: relative;
    height: calc(100% - 20px);
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 0 10px 0 10px;
    background-color: #1c1c1c;
    box-sizing: border-box;
    text-align: center;
}

.post-tag {
    cursor: pointer;
    float: left;
    font-family: Cantarell, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #790000;
    padding: 0 20px;
    line-height: 35px;
}

.post-link {
    cursor: pointer;
    position: absolute;
    font-family: Cantarell, sans-serif;
    font-weight: 400;
    font-size: 24px;
    bottom: 10px;
    right: 550px;
    color: #EDF2EF;
    z-index: 10;
}


.post-link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    z-index: 10;
}

.post-link:hover:after, .post-link:focus:after {
    width: 100%;
}

.edit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 20;

    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
    border-radius: 50%;
    transition: 1s;
}

.edit-button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.new-posts {
    width: 70%;
    height: 500px;
    margin: 50px auto;
    background-color: #1c1c1c;
    border-radius: 10px;
}