* {
    margin: 0;
    padding: 0;
    outline: none;
}

aside {
    position: relative;

    float: left;
    width: 75px;
    height: 100vh;
    background-color: #141414;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, .5);
}

.imgs {
    position: fixed;
    top: 50px;
    width: 75px;
    height: 50%;
}

.aside-img {
    position: relative;
    width: 90%;
    margin: 5px 5%;
    cursor: pointer;
    transition: 1s;
}

.logout-img {
    position: fixed;
    width: 56px;
    margin: 0 auto;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.aside-img:hover {
    background-color: #1c1c1c;
    border-radius: 5px;
}

.active-page {
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 5px;
}

main {
    float: left;
    width: calc(100% - 75px);
    height: 100vh;
    background-color: #171717;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, .1);
}

.header-title {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 200;
    padding: 20px 50px;
    color: #EDF2EF;
}
