* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --aside-width: 300px;
    --main-background: #181818;
    --aside-background: #202020;
    --header-height: 50px;
    --post-footer-height: 50px;
}

body {
    height: 115vh;
}

aside {
    float: left;
    width: var(--aside-width);
    height: 100%;
    background: var(--aside-background);
    box-shadow: 5px 0 15px rgba(53, 53, 53, 0.1);
}

main {
    float: left;
    width: calc(100% - var(--aside-width));
    height: 100%;
    background-color: var(--main-background);
}

.aside-img {
    display: block;
    width: var(--aside-width);
    height: 180px;
    background-image: url("../img/aside-img.jpg");
}

.user-logo {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/user-logo.png");
    background-size: cover;
    background-position: 50% 50%;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: -50px auto;
}

.user-name {
    font-family: "Cantarell", sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding-top: 70px;
}

.user-short-description {
    font-family: "Cantarell Light", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.user-description-hr {
    color: #ffffff;
    width: 90%;
    margin: 20px auto;
}

.user-description {
    font-family: "Cantarell", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.pm-me {
    width: 120px;
    margin: 20px auto;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.pm-img {
    height: 100%;
}

header {
    width: 100%;
    height: var(--header-height);
    background-color: #080708;
}

.header-item {
    float: left;
    font-family: Roboto, monospace;
    font-weight: 400;
    font-size: 20px;
    color: white;

    width: 100px;
    height: 100%;
    text-align: center;
    padding: calc(var(--header-height) / 4);
    margin: 0 30px;

    cursor: pointer;
}

.header-item:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.header-item:hover:after, .header-item:focus:after {
    width: 100%;
}


.header-finder {
    float: right;
    width: 250px;
    height: var(--header-height);
    box-sizing: border-box;
    padding: 10px 10px;

    font-family: 'Roboto Thin', sans-serif;
    color: rgba(255, 255, 255, 0.4);

    background-color: #202020;
    border: 0;
}

.posts {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 0;
}

.post {
    position: relative;
    width: 75%;
    background-color: #202020;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .35);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
}

.post-img {
    width: 100%;
    margin-top: -5px;
    border-radius: 5px 5px 0 0;
}

.post-header {
    font-family: Cantarell, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 20px;
}

.post-short-text {
    font-family: "Roboto Thin", sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 50px;
    color: #ffffff;
}

.post-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: var(--post-footer-height);
}

.post-date {
    font-family: Roboto, monospace;
    font-weight: 200;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    line-height: var(--post-footer-height);
    padding-left: 20px;
}

.post-tags {
    height: var(--post-footer-height);
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px 10px 0 0;
}

.post-tags-item {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding: 0 20px;

    color: #ce0202;
    line-height: var(--post-footer-height);
}

.post-link {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    /*line-height: var(--post-footer-height);*/
    padding: calc(var(--post-footer-height) / 4) 50px;
    color: #107EFF;
    cursor: pointer;
}

.post-link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #107EFF;
    transition: width 0.2s ease-in-out;
}

.post-link:hover:after, .post-link:focus:after {
    width: 100%;
}

.post-link:hover {
    color: #7bb7ff;
}

.select-page-div {
    display: flex;
    justify-content: center;
}

.select-page-item, .select-page-left, .select-page-right {
    cursor: pointer;

    width: 50px;
    height: 50px;
    background-color: #0D0D0D;
    color: #ffffff;
    font-family: Roboto, monospace;
    font-size: 20px;

    margin: 0 10px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

.select-page-item:hover, .select-page-left:hover, .select-page-right:hover {
    background-color: rgba(13, 13, 13, 0.6);
}

.active {
    background-color: #104BE3;
}

.active:hover {
    background-color: #426bd8;
}