* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #181818;
}

.main-header {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.input-frame {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 200;
    width: 500px;
    height: 1.5em;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 5px auto;
    border: none;
    border-radius: 10px;
}

.input-submit {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #426bd8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}