@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --aside-width: 300px;
    --main-background: #181818;
    --aside-background: #202020;
    --header-height: 50px;
    --post-footer-height: 50px;
}

body {
    height: 115vh;
}

@media (min-width: 1150px) {
    .aside-toggle {
        display: none;
    }

    aside {
        float: left;
        width: var(--aside-width);
        max-width: var(--aside-width);
        height: 100%;
        background: var(--aside-background);
        box-shadow: 5px 0 15px rgba(53, 53, 53, 0.1);
    }

    .aside-hider {
        display: none;
    }

    main {
        float: left;
        width: calc(100% - var(--aside-width));
        height: 100%;
        background-color: var(--main-background);
    }

    .aside-img {
        display: block;
        width: var(--aside-width);
        height: 180px;
        background-image: url("../img/aside-img.jpg");
    }

    .user-logo {
        display: block;
        width: 100px;
        height: 100px;
        background-image: url("../img/user-logo.png");
        background-size: cover;
        background-position: 50% 50%;
        border: 2px solid #ffffff;
        border-radius: 50%;
        margin: -50px auto;
    }

    .user-name {
        font-family: "Cantarell", sans-serif;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        padding-top: 70px;
    }

    .user-short-description {
        font-family: "Cantarell Light", sans-serif;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }

    .user-description-hr {
        color: #ffffff;
        width: 90%;
        margin: 20px auto;
    }

    .user-description {
        font-family: "Cantarell", sans-serif;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }

    .pm-me {
        width: 120px;
        margin: 20px auto;
        height: 40px;
        display: flex;
        justify-content: space-around;
    }

    .pm-img {
        height: 100%;
    }

    header {
        width: 100%;
        height: var(--header-height);
        background-color: #080708;
    }

    .header-item {
        float: left;
        font-family: Roboto, monospace;
        font-weight: 400;
        font-size: 20px;
        color: white;

        width: 100px;
        height: 100%;
        text-align: center;
        padding: calc(var(--header-height) / 4);
        margin: 0 30px;

        cursor: pointer;
    }

    .header-item:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: white;
        transition: width 0.2s ease-in-out;
    }

    .header-item:hover:after, .header-item:focus:after {
        width: 100%;
    }
}

@media (max-width: 1149px) {
    .aside-toggle {
        display: none;
    }

    aside {
        float: left;
        width: var(--aside-width);
        height: 100%;
        background: var(--aside-background);
        box-shadow: 5px 0 15px rgba(53, 53, 53, 0.1);
    }

    .aside-hider {
        display: none;
    }

    main {
        float: left;
        width: calc(100% - var(--aside-width));
        height: 100%;
        background-color: var(--main-background);
    }

    .aside-img {
        display: block;
        width: var(--aside-width);
        height: 180px;
        background-image: url("../img/aside-img.jpg");
    }

    .user-logo {
        display: block;
        width: 100px;
        height: 100px;
        background-image: url("../img/user-logo.png");
        background-size: cover;
        background-position: 50% 50%;
        border: 2px solid #ffffff;
        border-radius: 50%;
        margin: -50px auto;
    }

    .user-name {
        font-family: "Cantarell", sans-serif;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        padding-top: 70px;
    }

    .user-short-description {
        font-family: "Cantarell Light", sans-serif;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }

    .user-description-hr {
        color: #ffffff;
        width: 90%;
        margin: 20px auto;
    }

    .user-description {
        font-family: "Cantarell", sans-serif;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }

    .pm-me {
        width: 120px;
        margin: 20px auto;
        height: 40px;
        display: flex;
        justify-content: space-around;
    }

    .pm-img {
        height: 100%;
    }

    header {
        width: 100%;
        height: var(--header-height);
        background-color: #080708;
    }

    .header-item {
        float: left;
        font-family: Roboto, monospace;
        font-weight: 400;
        font-size: 20px;
        color: white;

        width: 100px;
        height: 100%;
        text-align: center;
        padding: calc(var(--header-height) / 4);
        margin: 0 30px;

        cursor: pointer;
    }

    .header-item:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: white;
        transition: width 0.2s ease-in-out;
    }

    .header-item:hover:after, .header-item:focus:after {
        width: 100%;
    }
}

@media (max-width: 954px) {
    .aside-toggle {
        user-select: none;
        display: block;
        float: left;
        cursor: pointer;

        color: white;
        font-size: 35px;
        rotate: 90deg;

        line-height: var(--header-height);
        margin: 0 20px;
    }

    main {
        width: 100%;
        filter: none;
    }

    aside {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        max-width: 500px;
        z-index: 10;
    }

    .aside-img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aside-hider {
        position: absolute;
        user-select: none;
        display: block;
        cursor: pointer;

        color: white;
        font-size: 35px;
        rotate: 90deg;

        line-height: var(--header-height);
        margin: 0 20px;
        top: 0;
    }
}

@media (max-width: 730px) {
    .header-item {
        padding: calc(var(--header-height) / 4) 2px;
    }
}

@media (max-width: 666px) {
    .header-item {
        display: none;
    }
}