@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 75px;
    background-color: #000000;
}

body {
    background-color: #000807;
}

main {
    height: 200vh;
}

.header-items {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.header-item {
    font-family: "Cantarell", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #EDF2EF;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    width: auto;
}

.header-item:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    z-index: 10;
}

.header-item:hover:after, .header-item:focus:after {
    width: 100%;
}

.header-with-opacity {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 75px;
    background-color: rgba(10, 10, 10, .8);
    z-index: 50;

    display: none;
}


.blog-header {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #EDF2EF;
    padding: 20px 30px;
}

.post {
    width: 90%;
    height: 500px;
    background-color: #171717;
    border-radius: 10px;
    margin: 5px auto;
    box-shadow: 5px 5px 5px rgba(23, 23, 23, 0.1);
}

.post-header {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #EDF2EF;
    padding: 10px 20px;
}