h1 h2 h3 h4 h5 h6 p {
    font-family: Cantarell, sans-serif;
    color: #EDF2EF;
}

.post-text h1 {
    font-size: 24px;
    padding-bottom: 10px;
}

.post-text h2 {
    font-size: 22px;
}

.post-text h3 {
    font-size: 20px;
}

.post-text h4 {
    font-size: 18px;
}

.post-text h5 {
    font-size: 17px;
}

.post-text h6 {
    font-size: 15px;
}