<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/template_styles.css') }}">
</head>
<body>
<aside>
    <div class="imgs">
        <a href="/admin/dashboard">
            <img src="{{ url_for('static', filename='img/admin/statistics.png') }}" alt=""
                 class="aside-img active-page">
        </a>
        <a href="/admin/content-editor">
            <img src="{{ url_for('static', filename='img/admin/content.png') }}" alt="" class="aside-img">
        </a>
        <a href="/admin/posts-editor">
            <img src="{{ url_for('static', filename='img/admin/posts.png') }}" alt="" class="aside-img">
        </a>
    </div>
</aside>
<main>
    <header>
        {% block page-name %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</main>
</body>