<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/template_styles.css') }}">
    {% block title %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
<aside>
    <div class="imgs">
        <a href="/admin/dashboard">
            <img src="{{ url_for('static', filename='img/admin/statistics.png') }}" alt=""
                 class="aside-img" id="img-1">
        </a>
        <a href="/admin/content-editor">
            <img src="{{ url_for('static', filename='img/admin/content.png') }}" alt="" class="aside-img" id="img-2">
        </a>
        <a href="/admin/posts-creator">
            <img src="{{ url_for('static', filename='img/admin/posts.png') }}" alt="" class="aside-img" id="img-3">
        </a>
    </div>
</aside>
<main>
    <header>
        {% block page_name %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</main>
{% block js %}{% endblock %}
</body>