<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin-create - Content editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/content-editor.css') }}">
</head>
<body>
<aside>
    <div class="imgs">
        <img src="{{ url_for('static', filename='img/admin/content.png') }}" alt="" class="aside-img">
        <img src="{{ url_for('static', filename='img/admin/statistics.png') }}" alt="" class="aside-img">
    </div>
</aside>
<main></main>
</body>
</html>