<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin-create Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard_page.css') }}">
</head>
<body>
<aside>
    <div class="imgs">
        <img src="{{ url_for('static', filename='img/admin/content.png') }}" alt="" class="aside-img">
        <img src="{{ url_for('static', filename='img/admin/statistics.png') }}" alt="" class="aside-img">
    </div>
</aside>
<main>
    <h1 class="dashboard-header">Dashboard</h1>
    <div class="dashes">
        <div class="dash"></div>
        <div class="dash"></div>
        <div class="dash"></div>
    </div>
</main>
</body>
</html>