{% extends 'admin/admin_template.html'%}

{% block title %}<title>Konstantin-create Dashboard</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard_page.css') }}">
{% endblock %}}
{% block page_name %}<h1 class="header-title">Dashboard</h1>{% endblock %}
{% block content %}
<div class="dashes">
    <div class="dash">
        <div class="left">
            <h3 class="data-header">Total requests</h3>
            {% if all_requests['requests'] %}
            <p class="data-value">All time: {{ all_requests['requests']['total'] }}</p>
            <p class="data-value">Per month: {{ all_requests['requests']['per_month'] }}</p>
            <p class="data-value">Per day: {{ all_requests['requests']['per_day'] }}</p>
            {% endif %}
        </div>
        <div class="right">
            <h3 class="data-header">Unique users</h3>
            {% if all_requests['requests'] %}
            <p class="data-value">All time: {{ all_requests['requests']['total'] }}</p>
            <p class="data-value">Per month: {{ all_requests['requests']['per_month'] }}</p>
            <p class="data-value">Per day: {{ all_requests['requests']['per_day'] }}</p>
            {% else %}
            <p class="data-value">No data</p>
            {% endif %}
            <p class="clear_btn"><a href="/admin/clear-stat">Clear statistics</a></p>
        </div>
    </div>
    <div class="dash">
        <h3 class="data-header">The most visitable pages</h3>
        <div class="left">
            <h4 class="data-col-header">Urls:</h4>
            {% for el in all_visitors %}
            <p class="data-value">{{ el[0] }}</p>
            {% endfor %}
        </div>
        <div class="right">
            <h4 class="data-col-header">Total visits:</h4>
            {% for el in all_visitors %}
            <p class="data-value">{{ el[1] }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="dash"></div>
</div>
{% endblock %}
{% block js %}
<script>
    document.getElementById('img-1').className = 'aside-img active-page'
</script>
{% endblock %}