{% extends 'admin/admin_template.html' %}

{% block title %}<title>Konstantin-create Images</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/images_page_styles.css') }}">
{% endblock %}
{% block page_name %}<h1 class="header-title">Images</h1>{% endblock %}
{% block content %}
<div class="images-div">
    {% for image in images %}
        <a href="/images/{{ image.id }}"><div class="image"></div></a>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    function hide_last_login() {
        $('.last-login-div').fadeOut()
    }

    document.getElementById('img-4').className = 'aside-img active-page'

    sleep(6000).then(hide_last_login)
</script>
{% endblock %}