<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin-create Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/login_style.css') }}">
</head>
<body>
    <div class="login-form">
        <form>
            <h2 class="input-header">Login</h2>
            <input type="text" class="input-field" autofocus>
            <input type="password" class="input-field">
            <input type="submit" class="input-field submit-field">
        </form>
    </div>
</body>
</html>