<!DOCTYPE html>
{% extends 'admin/admin_template.html'%}

{% block title %}<title>Konstantin-create Content Editor</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/posts-creator.css') }}">
{% endblock %}
{% block page_name %}<h1 class="header-title">Posts creator</h1>{% endblock %}
{% block content %}
{% endblock %}
{% block js %}
<script>
    document.getElementById('img-3').className = 'aside-img active-page'
</script>
{% endblock %}