<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin Create - Edit post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/posts_editor_styles.css') }}">
</head>
<body>
<main>
    <a href="/admin/posts-creator"><p class="back-btn"><</p></a>
    <div class="new-posts" id="new-posts">
        <form action="/admin/edit-post/{{ post.id }}" method="post">
            <h3 class="form-header">Edit post</h3>
            <label>
                <input type="text" class="one-line-input" placeholder="Post header" name="post-header"
                       value="{{ post.header }}" autofocus>
            </label>
            {% if header_error %}
            <p class="error-text" id="post-header-error">Please enter post header</p>
            {% endif %}
            <label>
                <textarea class="text-input" placeholder="Post text" name="post-text">{{ post.text }}</textarea>
            </label>
            {% if text_error %}
            <p class="error-text" id="post-text-error">Please enter post text</p>
            {% endif %}
            <label>
                <input type="text" class="one-line-input" placeholder="Post tags" name="post-tags"
                       value="{{ post.tags }}">
            </label>
            {% if tags_error %}
            <p class="error-text" id="post-tags-error">Please enter post tags</p>
            {% endif %}
            <label class="input-file">
                <input type="file" name="post-file">
                <span>{{ post_img_name }}</span>
            </label>
            <div style="clear: both"></div>
            <label>
                <input type="submit" class="post-submit" value="Edit">
                <a href="/admin/delete-post/{{ post.id }}"><input type="submit" class="post-delete" value="Delete post"></a>
            </label>
        </form>
    </div>
</main>
<script src="{{ url_for('static', filename='js/admin/posts-creator.js') }}"></script>
<script>
    $('.input-file input[type=file]').on('change', function () {

        let file = this.files[0];

        $(this).next().html(file.name);

    });
</script>
</body>
</html>