<!DOCTYPE html>
{% extends 'admin/admin_template.html'%}

{% block title %}<title xmlns="http://www.w3.org/1999/html">Konstantin-create Posts Creator</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/posts-creator.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block page_name %}
<h1 class="header-title">Posts creator</h1>
<div class="header-nav">
    <p class="header-nav-item active" id="header-nav-1" onclick="change_active()">Old posts</p>
    <p class="header-nav-item" id="header-nav-2" onclick="change_active()">Create new</p>
</div>
{% endblock %}
{% block content %}
<div class="old-posts" id="old-posts">
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="post-text">
                <h3 class="post-header">{{ post.header }}</h3>
                <p class="post-description">{{ post.text }}</p>
                <div class="post-footer">
                    <div class="post-tags">
                        {% for tag in post.tags.split() %}
                        <p class="post-tag">#{{ tag }}</p>
                        {% endfor %}
                    </div>
                    <a href="/posts/{{ post.id }}"><p class="post-link">More</p></a>
                </div>
            </div>
            <a href="/admin/post-editor/{{ post.id }}"><img src="{{ url_for('static', filename='img/admin/edit.png') }}"
                                                            alt="" class="edit-button"></a>
            <img src="{{ url_for('static', filename=post.img) }}" alt="" class="post-image" loading="lazy">
        </div>
        {% endfor %}
    </div>
</div>
<div class="new-posts" id="new-posts">
    <form action="/admin/add-post" method="post">
        <h3 class="form-header">Create new post</h3>
        <label>
            <input type="text" class="one-line-input" placeholder="Post header" name="post-header"
                   autofocus>
        </label>
        {% if header_error %}
        <p class="error-text" id="post-header-error">Please enter post header</p>
        {% endif %}
        <label>
            <textarea class="text-input" placeholder="Post text" name="post-text"></textarea>
        </label>
        {% if text_error %}
        <p class="error-text" id="post-text-error">Please enter post text</p>
        {% endif %}
        <label>
            <input type="text" class="one-line-input" placeholder="Post tags" name="post-tags">
        </label>
        {% if tags_error %}
        <p class="error-text" id="post-tags-error">Please enter post tags</p>
        {% endif %}
        <label class="input-file">
            <input type="file" name="post-file">
            <span>Select image</span>
        </label>
        <div style="clear: both"></div>
        <label>
            <input type="submit" class="post-submit">
        </label>
    </form>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/admin/posts-creator.js') }}"></script>
<script>
    $('.input-file input[type=file]').on('change', function () {

        let file = this.files[0];

        $(this).next().html(file.name);

    });
</script>
{% endblock %}