<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<aside>
    <div class="aside-img"></div>
    <div class="user-logo"></div>
    <h3 class="user-name">Konstantin-create</h3>
    <p class="user-short-description">Python developer blog</p>
    <div class="pm-me">
        <img src="../static/img/tg.png" alt="" class="pm-img">
        <img src="../static/img/gh.png" alt="" class="pm-img">
    </div>
    <hr class="user-description-hr">
    <p class="user-description">Hey guys! Welcome to my blog, here i`ll share my successes and fuckups in
        programming, i`ll also publishing links to interesting resources and repositories here
    </p>
</aside>
<main>

</main>
</body>
</html>