<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin blog</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<aside>
    <div class="aside-img"></div>
    <div class="user-logo"></div>
    <h3 class="user-name">Konstantin-create</h3>
    <p class="user-short-description">Python developer blog</p>
    <div class="pm-me">
        <img src="../static/img/tg.png" alt="" class="pm-img">
        <img src="../static/img/gh.png" alt="" class="pm-img">
    </div>
    <hr class="user-description-hr">
    <p class="user-description">Yo guys, hello everyone. I am 15 years old and I love programming and understanding
        complex things.</p>
</aside>
<main>
    <header>
        <h4 class="header-item"><a href="/">Main</a></h4>
        <h4 class="header-item"><a href="/posts">Posts</a></h4>
        <h4 class="header-item"><a href="/about-me">About me</a></h4>
        <form action="/find">
            <label>
                <input type="text" placeholder="Find any info on this site" class="header-finder">
            </label>
        </form>
    </header>
    <div class="posts">
        <div class="post">
            <img src="../static/img/blog-img.png" alt="Post image" class="post-img">
            <h2 class="post-header">Post header!</h2>
            <p class="post-short-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget sem et ex
                tempus bibendum. Nulla in nunc eu metus porta volutpat. Maecenas tincidunt risus non dictum congue.
                Nullam congue sed lorem nec varius. Sed et commodo purus. Sed a pulvinar orci, sit amet dignissim dui.
                Sed nec urna in turpis semper tempus.</p>
            <div class="post-footer">
                <p class="post-date">22.08.22</p>
                <div class="post-tags">
                    <p class="post-tags-item">#coding</p>
                    <p class="post-tags-item">#data-structures</p>
                </div>
                <p class="post-link"><a href="/post/1">Read</a></p>
            </div>
        </div>
    </div>
    <div class="select-page-div">
        <p class="select-page-left"><</p>
        <p class="select-page-item active">1</p>
        <p class="select-page-item">2</p>
        <p class="select-page-item">3</p>
        <p class="select-page-right">></p>
    </div>
</main>
</body>
</html>