<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Konstantin-create about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_page_styles.css') }}">
</head>
<body>
<main>
    <header>
        <p class="aside-toggle" onclick="aside_show()">|||</p>
        <h4 class="header-item"><a href="/">Main</a></h4>
        <h4 class="header-item"><a href="/about">About me</a></h4>
        <form action="/find">
            <label>
                <input type="text" placeholder="Find any info on this site" class="header-finder">
            </label>
        </form>
        <p class="find-button" title="Find in blog">🔎</p>
    </header>
    <div class="background-mask">
        <h1 class="nickname">Konstantin-create</h1>
        <div class="background-img"></div>
    </div>
    <div class="user-logo"></div>
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget ipsum est. Curabitur eget
        metus tincidunt, molestie risus eget, mollis orci. Nulla eu ornare ipsum, quis condimentum nunc. Proin nec
        convallis lorem. Cras vel hendrerit quam. Etiam lacinia, diam in sollicitudin vestibulum, mi arcu elementum dui,
        sit amet aliquet orci tellus in enim. Fusce pulvinar felis at ante lacinia, a congue urna euismod. Fusce vitae
        sem tempor, molestie sapien non, pretium ligula. Donec et odio eget ante maximus dictum. Suspendisse bibendum
        diam lorem, eu fringilla libero consectetur vitae. Cras porttitor ornare turpis. Suspendisse quis ipsum eu orci
        bibendum semper. Sed lorem arcu, congue sed varius nec, tempus vel diam. In molestie lorem eget nibh porttitor,
        ac egestas turpis condimentum. Aenean vel leo ultrices lacus consectetur scelerisque malesuada ac justo. </p>
    <h3 class="pm-header">How to contact me?</h3>
    <div class="pm-methods">
        <a href="https://github.com/Konstantin-create" style="width: 75px; height: 75px">
            <img class="pm-methods-img" src="{{ url_for('static', filename='img/gh.png') }}" alt="">
        </a>
        <a href="https://t.me/hacknet_dev" style="width: 75px; height: 75px">
            <img class="pm-methods-img" src="{{ url_for('static', filename='img/tg.png') }}" alt="">
        </a>
        <a href="" style="width: 75px; height: 75px">
            <img class="pm-methods-img" src="{{ url_for('static', filename='img/ds.png') }}" alt="">
        </a>
    </div>
    <hr>
    <h3 class="gh-header">GitHub profile</h3>
    <div class="gh-contributions">
        <div class="gh-col">
            <h2 class="gh-col-header">Repositories</h2>
            <p class="gh-col-data">{{ gh_stat['repos'] }}</p>
        </div>
        <div class="gh-col">
            <h2 class="gh-col-header">Stars</h2>
            <p class="gh-col-data">{{ gh_stat['stars'] }}</p>
        </div>
        <div class="gh-col">
            <h2 class="gh-col-header">Subscribes</h2>
            <p class="gh-col-data">{{ gh_stat['followers'] }}</p>
        </div>
        <p class="gh-more-btn"><a href="https://github.com/Konstantin-create">More</a></p>
    </div>
</main>
</body>
</html>