<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base_animations.js') }}"></script>
    {% block style %}{% endblock %}
</head>
<body>
<aside id="aside">
    <div class="aside-img"></div>
    <div class="user-logo"></div>
    <h3 class="user-name">Konstantin-create</h3>
    <p class="user-short-description">Python developer blog</p>
    <div class="pm-me">
        <a href="https://github.com/Konstantin-create" style="width: 40px; height: 40px"><img src="../static/img/gh.png"
                                                                                              alt="" class="pm-img"></a>
        <a href="https://t.me/hacknet_dev" style="width: 40px; height: 40px"><img src="../static/img/tg.png" alt=""
                                                                                  class="pm-img"></a>
    </div>
    <hr class="user-description-hr">
    <p class="user-description">Yo guys, hello everyone. I am 15 years old and I love programming and understanding
        complex things.</p>
    <p class="aside-hider" onclick="aside_hide()">|||</p>
</aside>
<main id="main">
    <header>
        <p class="aside-toggle" onclick="aside_show()">|||</p>
        <h4 class="header-item"><a href="/">Main</a></h4>
        <h4 class="header-item"><a href="/about">About me</a></h4>
    {% block main_content %}{% endblock %}
</main>
</body>
</html>
