<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin-create Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<header id="header">
    <div class="header-items">
        <a href="#"><h3 class="header-item">Home</h3></a>
        <a href="#about"><h3 class="header-item">About</h3></a>
        <a href="#projects"><h3 class="header-item">Projects</h3></a>
    </div>
</header>
<div class="header-with-opacity" id="faded-header">
    <div class="header-items">
        <a href="#"><h3 class="header-item">Home</h3></a>
        <a href="#about"><h3 class="header-item">About</h3></a>
        <a href="#projects"><h3 class="header-item">Projects</h3></a>
    </div>
</div>
<main>
    <h1 class="blog-header">Konstantin-create blog</h1>
    <div class="posts">
        <div class="post">
            <div class="post-text">
                <h3 class="post-header">Header</h3>
                <p class="post-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta augue
                    accumsan, vulputate erat non, varius quam. Sed pretium, massa sed sodales luctus, ex sapien
                    consequat velit, quis ultrices lacus nibh nec leo. Duis vehicula sapien ac tempor fringilla. Duis
                    ligula velit, aliquam non libero id, maximus vestibulum risus. Nulla id dui ac odio commodo maximus.
                    Cras a nisl vitae tortor porta porta in vitae ante. Curabitur tempus iaculis arcu quis hendrerit.
                    Nam non mauris tempus, malesuada tellus quis, dictum enim.

                    Curabitur aliquet, ligula ullamcorper fermentum eleifend, diam lectus tempor quam, vel facilisis
                    ante tortor id nibh. Quisque sed nisl hendrerit, imperdiet est non, pellentesque risus. Ut magna
                    tellus, gravida in dui sed, auctor malesuada ex. Integer venenatis, risus at consequat iaculis, eros
                    est blandit turpis, non aliquet lorem ex vitae metus. Aliquam iaculis nunc velit. Etiam eu tincidunt
                    elit. Duis venenatis tincidunt odio semper posuere. Vestibulum sollicitudin ullamcorper
                    aliquet. </p>
                <div class="post-footer">
                    <p class="post-link">More</p>
                </div>
            </div>
            <div class="post-image"></div>
        </div>
        <div class="post">
            <div class="post-text">
                <h3 class="post-header">Header</h3>
                <p class="post-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta augue
                    accumsan, vulputate erat non, varius quam. Sed pretium, massa sed sodales luctus, ex sapien
                    consequat velit, quis ultrices lacus nibh nec leo. Duis vehicula sapien ac tempor fringilla. Duis
                    ligula velit, aliquam non libero id, maximus vestibulum risus. Nulla id dui ac odio commodo maximus.
                    Cras a nisl vitae tortor porta porta in vitae ante. Curabitur tempus iaculis arcu quis hendrerit.
                    Nam non mauris tempus, malesuada tellus quis, dictum enim.

                    Curabitur aliquet, ligula ullamcorper fermentum eleifend, diam lectus tempor quam, vel facilisis
                    ante tortor id nibh. Quisque sed nisl hendrerit, imperdiet est non, pellentesque risus. Ut magna
                    tellus, gravida in dui sed, auctor malesuada ex. Integer venenatis, risus at consequat iaculis, eros
                    est blandit turpis, non aliquet lorem ex vitae metus. Aliquam iaculis nunc velit. Etiam eu tincidunt
                    elit. Duis venenatis tincidunt odio semper posuere. Vestibulum sollicitudin ullamcorper
                    aliquet. </p>
            </div>
            <div class="post-image"></div>
        </div>
        <div class="post">
            <div class="post-text">
                <h3 class="post-header">Header</h3>
                <p class="post-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta augue
                    accumsan, vulputate erat non, varius quam. Sed pretium, massa sed sodales luctus, ex sapien
                    consequat velit, quis ultrices lacus nibh nec leo. Duis vehicula sapien ac tempor fringilla. Duis
                    ligula velit, aliquam non libero id, maximus vestibulum risus. Nulla id dui ac odio commodo maximus.
                    Cras a nisl vitae tortor porta porta in vitae ante. Curabitur tempus iaculis arcu quis hendrerit.
                    Nam non mauris tempus, malesuada tellus quis, dictum enim.

                    Curabitur aliquet, ligula ullamcorper fermentum eleifend, diam lectus tempor quam, vel facilisis
                    ante tortor id nibh. Quisque sed nisl hendrerit, imperdiet est non, pellentesque risus. Ut magna
                    tellus, gravida in dui sed, auctor malesuada ex. Integer venenatis, risus at consequat iaculis, eros
                    est blandit turpis, non aliquet lorem ex vitae metus. Aliquam iaculis nunc velit. Etiam eu tincidunt
                    elit. Duis venenatis tincidunt odio semper posuere. Vestibulum sollicitudin ullamcorper
                    aliquet. </p>
            </div>
            <div class="post-image"></div>
        </div>
    </div>
</main>
</body>
</html>