{% extends 'base.html' %}

{% block title %}<title>Konstantin-create blog</title>{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_page_styles.css') }}">
{% endblock %}

{% block main_content %}
<div class="posts">
    <div class="post">
        <img src="../static/img/blog-img.png" alt="Post image" class="post-img">
        <div class="mobile-post-tags">
            <p class="mobile-post-tags-item">#coding</p>
            <p class="mobile-post-tags-item">#data-structures</p>
        </div>
        <h2 class="post-header">Post header!</h2>
        <p class="post-short-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget sem et ex
            tempus bibendum. Nulla in nunc eu metus porta volutpat. Maecenas tincidunt risus non dictum congue.
            Nullam congue sed lorem nec varius. Sed et commodo purus. Sed a pulvinar orci, sit amet dignissim dui.
            Sed nec urna in turpis semper tempus.</p>
        <div class="post-footer">
            <p class="post-date">22.08.22</p>
            <div class="post-tags">
                <p class="post-tags-item">#coding</p>
                <p class="post-tags-item">#data-structures</p>
            </div>
            <p class="post-link"><a href="/post/1">Read</a></p>
        </div>
    </div>
</div>
<div class="select-page-div">
    <p class="select-page-left"><</p>
    <p class="select-page-item active">1</p>
    <p class="select-page-item">2</p>
    <p class="select-page-item">3</p>
    <p class="select-page-right">></p>
</div>
{% endblock %}