<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
<header>
    <h1 class="header-title">{{ Data.header_text }}</h1>
</header>
<main>
    <div class="screen1-left">
        <h3 class="about-header">About me</h3>
        <p class="about-text">{{ Data.about_text }}</p>
    </div>
    <div class="screen1-right">
        <h3 class="recently-header">Latest's posts</h3>
        <div class="last-posts">
            <div class="post">
                <img class="post-image" src="{{ url_for('static', filename='img/donald.png') }}" alt="Post image">
                <div class="post-data">
                    <h4 class="post-header">Post header...</h4>
                    <p class="post-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum, leo vel
                        elementum lobortis, elit nisl faucibus turpis, eget dictum eros felis in mauris. Fusce semper
                        feugiat fermentum. Etiam eget elementum tellus, ut venenatis nisi.</p>
                </div>
            </div>
            <div class="post">
                <img class="post-image" src="{{ url_for('static', filename='img/donald.png') }}" alt="Post image">
                <div class="post-data">
                    <h4 class="post-header">Post header...</h4>
                    <p class="post-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum, leo vel
                        elementum lobortis, elit nisl faucibus turpis, eget dictum eros felis in mauris. Fusce semper
                        feugiat fermentum. Etiam eget elementum tellus, ut venenatis nisi.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
