<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
<header>
    <h1 class="header-title">HackNet</h1>
</header>
<main>
    <div class="screen1-left">
        <h2 class="about-header">About me</h2>
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet blandit vehicula.
            In ex ex, tincidunt a justo nec, molestie ullamcorper libero. Maecenas porta velit at libero lacinia, ac
            consectetur est vehicula. Aenean sagittis dictum mattis. Duis arcu nisi, porttitor at semper nec, malesuada
            condimentum quam. Sed semper nunc eget vehicula facilisis. Aliquam et fermentum turpis. Donec iaculis et
            ante a malesuada. Nam ornare est ut tristique lacinia. Aenean placerat, urna in consequat egestas, metus
            lorem facilisis ex, ut porta nisi quam eget libero. Quisque sodales lorem id feugiat iaculis. Etiam nec
            luctus velit. Proin ultricies vitae odio eu ultricies. </p>
    </div>
    <div class="screen1-right">
        <p>Lorem ipsum text 2...</p>
    </div>
</main>
</body>
</html>
