<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konstantin-create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_template_style.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
<header id="header">
    <div class="header-items">
        <a href="{{ content_data['blog']['header_links'][0] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][0] }}</h3>
        </a>
        <a href="{{ content_data['blog']['header_links'][1] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][1] }}</h3>
        </a>
        <a href="{{ content_data['blog']['header_links'][2] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][2] }}</h3>
        </a>
    </div>
</header>
<div class="header-with-opacity" id="faded-header">
    <div class="header-items">
        <a href="{{ content_data['blog']['header_links'][0] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][0] }}</h3>
        </a>
        <a href="{{ content_data['blog']['header_links'][1] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][1] }}</h3>
        </a>
        <a href="{{ content_data['blog']['header_links'][2] }}"><h3 class="header-item">{{
            content_data['blog']['headers'][2] }}</h3>
        </a>
    </div>
</div>
<div class="post">
    <div class="post-views">
        <svg class="post-icon-view" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" stroke="#fff" stroke-width="1"
                  d="M12,21 C7,21 1,16 1,12 C1,8 7,3 12,3 C17,3 23,8 23,12 C23,16 17,21 12,21 Z M12,7 C9.23875,7 7,9.23875 7,12 C7,14.76125 9.23875,17 12,17 C14.76125,17 17,14.76125 17,12 C17,9.23875 14.76125,7 12,7 L12,7 Z"/>
        </svg>
        <p class="post-text-view">1000</p>
    </div>
    <img src="{{ url_for('static', filename='posts/img/1-2.jpg') }}" alt="" class="post-image" loading="lazy">
    <!-- todo: change on image preview -->
    <h1 class="post-header">My first post</h1>
    <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate eu dui et tristique. Nulla facilisi.
        Aliquam pharetra bibendum diam. Nunc congue bibendum nisl, hendrerit euismod odio sodales sit amet. Quisque
        blandit quis lectus ac malesuada. Aenean egestas felis sapien, eu pretium ex rhoncus vitae. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Praesent ullamcorper in enim placerat porta. Donec a pulvinar
        erat, vitae lacinia mi. Sed at magna ac sem efficitur tincidunt.<br><br>

        Sed venenatis pretium augue sed commodo. Curabitur egestas ornare efficitur. Suspendisse sodales sodales orci in
        facilisis. Curabitur tristique ac metus sed volutpat. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Mauris fermentum aliquet sem ut gravida. Curabitur fringilla mollis porttitor.
        Cras velit dolor, porta sit amet arcu sit amet, rhoncus euismod orci. Cras faucibus et diam quis vehicula.
        Aliquam nunc quam, imperdiet quis quam nec, dapibus dapibus purus. Sed at nibh dictum, sodales magna eget,
        scelerisque mi. In vel nulla sit amet turpis pellentesque semper vitae vitae sem. Donec convallis id augue at
        euismod. Proin mollis ornare tortor, eu finibus nulla fringilla sed. Ut ac faucibus dui, at vestibulum eros.<br><br>

        Curabitur auctor elit eu quam aliquet, id efficitur tellus dapibus. Vivamus ac convallis velit, egestas vehicula
        ipsum. Sed eget imperdiet odio. Fusce volutpat enim ut efficitur ultrices. In pellentesque purus sit amet
        fermentum consequat. Nulla sollicitudin facilisis orci, at gravida odio pellentesque at. Pellentesque sed elit
        sed velit lacinia euismod at eget augue. Donec finibus malesuada tempor. Mauris sit amet nulla eget dolor
        dapibus placerat. Praesent sed tortor eget massa gravida laoreet tincidunt non eros.<br><br>

        Maecenas tempus a arcu eget convallis. Cras fermentum turpis sed eros tempor consectetur non maximus ipsum.
        Mauris magna nibh, pulvinar vel augue in, laoreet bibendum urna. Integer nisl dui, egestas id nunc nec, luctus
        convallis nisl. Cras nec velit vel dui imperdiet placerat. Quisque volutpat sem libero, vitae malesuada diam
        convallis at. In vitae nibh quis ante accumsan mattis vel non mauris.<br><br>

        Donec eu varius lectus. Fusce lacinia, odio quis ultrices vehicula, justo arcu consectetur sem, non mollis ex
        arcu at eros. Pellentesque nec tortor dui. Phasellus molestie nisl sed diam condimentum ultricies. Pellentesque
        arcu dui, ullamcorper in nunc non, scelerisque maximus lorem. Morbi egestas fringilla auctor. Proin porta nisi
        sapien, ac pretium lectus luctus vulputate. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Praesent imperdiet tortor ut faucibus vestibulum. Duis non lorem dictum, luctus neque id, ultrices sapien.
        Sed id leo a felis viverra dapibus. Sed fringilla lorem ipsum, in porta nisl ultrices in.<br><br>
    </p>
</div>
</body>
</html>